<div class="navbar navbar-expand-sm navbar-light navbar-general border-bottom">
  <div class="container-fluid">
    <%= link_to users_path, class: "navbar-brand" do %>
      <%= image_tag "/../../team-logo.png" %>
    <% end %>
    <%= link_to "Add New user", new_user_path, class: "btn btn-success" %>
  </div>
</div>
