<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: users_path, method: :get, class: "simple_form search", local: false do |form| %>
      <div class="search-form-control form-group">
        <%= form.text_field :query,
          class: "form-control string required",
          placeholder: "Type a keyword",
          novalidate: "novalidate"
        %>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>
