.navbar-general {
  justify-content: space-between;
  background: white;
}

.navbar-general {
  flex-grow: 0;
}

.navbar-general .navbar-brand img {
  width: 40px;
}

.navbar-general {
  flex-grow: 0;
}
