.navbar-general {
  justify-content: space-between;
  background: #f4f4f4;
}

.navbar-general {
  flex-grow: 0;
}

.navbar-general .navbar-brand img {
  width: 40px;
}

.navbar-general {
  flex-grow: 0;
}
